mixin mit
  abbr.initialism(title='Massachusetts Institute of Technology') MIT

mixin link(href)
  a(href=href).link&attributes(attributes)
    if block
      block
    else
      href

mixin github-link(short_form)
  +link('https://github.com/' + short_form)
    code= short_form

mixin snippet(lang)
  pre&attributes(attributes)
    code(class='language-'+lang)
      block

//- CDN Resources

mixin bootstrap-js
  script(
    src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
    integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa'
    crossorigin='anonymous'
  )

mixin jquery
  script(
    src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
    integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f'
    crossorigin='anonymous'
  )

mixin socket-io
  script(
    src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js'
    integrity='sha384-XLd1zkBrnVDJmHkPYQ+3kMmISK/EWOqKjl81APToD6OSKnLm35INC6aPwRNatcDr'
    crossorigin='anonymous'
  )
